body {
    font-family: sans-serif;
    color: darkred;
}

header{
text-align:center;
}

span{
    background-color: aqua;
    color:white;
    padding:5px ;
    border: 1px solid black;
    border-radius:5px ;
}

